{
    "parser": "babel-eslint",
    "extends": "airbnb",
    "env": {
        "browser": true,
        "node": true
    },
    "rules": {
        "no-console": "off",
        "react/jsx-props-no-spreading": "off",
        "import/no-extraneous-dependencies": ["error", { "devDependencies": true }]
    },
    "plugins": [
        "react",
        "jsx-a11y",
        "import"
    ]
}